@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <IEnumerable<<%= fullNamespace %>.Models.ExampleInfo>> 

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers 

<div id="Items-@Dnn.ModuleContext.ModuleId"> 
    @if (Model == null || !Model.Any()) 
	{ 
		<p>@Dnn.LocalizeString("NoItems")</p> 
    }
    else 
	{ 
		<ul class="tm_tl"> 
            @foreach (var item in Model) 
			{ 
				<li class="tm_t">
					<h3>@item.Title</h3>
					<div class="tm_td">@item.Description</div> 
                    @{
                        if (Dnn.ModuleContext.IsEditable) 
						{ 
							<div>
								<a href="@Url.Action("Edit", "Example", new {ctl = "Edit", itemId = item.ExampleId})">@Dnn.LocalizeString("EditItem")</a>  
								<a href="@Url.Action("Delete", "Example", new {itemId = item.ExampleId})">@Dnn.LocalizeString("DeleteItem")</a>  
							</div> 
                        }
                    } 
				</li> 
            } 
		</ul> 
    }
</div> 